In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import altair as alt

In [28]:
diabetes = pd.read_csv("diabetes_prediction_dataset.csv") #read data
diabetes["diabetes"] = diabetes["diabetes"].astype("object") #change diabetes classification to object
display(diabetes)
display(diabetes.info())
diabetes["diabetes"].value_counts(normalize = True) #show classification variable distribution

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  object
dtypes: float64(3), int64(3), object(3)
memory usage: 6.9+ MB

None

0    0.915
1    0.085
Name: diabetes, dtype: float64

In [3]:
diabetes["diabetes"].unique()

array([0, 1], dtype=object)

In [4]:
diabetes["diabetes"] = diabetes["diabetes"].replace({
    "0" : "negative",
    "1" : "positive"
})

In [27]:
np.random.seed(1) # set seed

diabetes_train, diabetes_test = train_test_split(
    diabetes, train_size = .75, stratify = (diabetes["diabetes"]) # split data
)
display(diabetes_train.info())
diabetes_train["diabetes"].value_counts(normalize = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75000 entries, 62184 to 19611
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               75000 non-null  object
 1   age                  75000 non-null  float64
 2   hypertension         75000 non-null  int64
 3   heart_disease        75000 non-null  int64
 4   smoking_history      75000 non-null  object
 5   bmi                  75000 non-null  float64
 6   HbA1c_level          75000 non-null  float64
 7   blood_glucose_level  75000 non-null  int64
 8   diabetes             75000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 5.7+ MB

None

0    0.915
1    0.085
Name: diabetes, dtype: float64

In [31]:
diabetes_stats = diabetes_train.drop(["gender", "smoking_history", "diabetes"], axis=1) # find mean values
diabetes_stats.agg(["mean","std"])

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level
mean,41.953301,0.075120,0.039787,27.330359,5.529661,137.929227
std,22.544629,0.263587,0.195459,6.616517,1.071349,40.634616

In [41]:
diabetes_plot = alt.Chart(diabetes_train).mark_bar().encode(
    x=alt.X("HbA1c_level").title("HbA1c Level").bin(),
    y="count()"
).facet("diabetes", columns=1)

TypeError: 'UndefinedType' object is not callable